Nuestro proyecto de programación utiliza Git para gestionar el control de versiones de nuestro código. Esto nos permite colaborar de manera eficiente, realizar un seguimiento de los cambios y mantener un historial claro de nuestro trabajo. Con Git, podemos crear ramas para trabajar en nuevas funciones, fusionar cambios y revertir a versiones anteriores si es necesario. Esto garantiza que nuestro proyecto se mantenga organizado y que podamos trabajar juntos sin problemas